<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center">
  <h1>VILLES</h1>
  <p class="ml-4"><%= link_to 'Créer', new_city_path, class: 'btn btn btn-primary btn-ms' %></p>
</div>

<div class="d-flex justify-content-center">
  <table class="table" style="width: 40%">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <td>
          <%= link_to 'Show', city , class: "btn btn-primary btn-sm" %>
          <%= link_to 'Edit', edit_city_path(city), class: "btn btn-info btn-sm" %>
          <%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>